absl-py==0.15.0
amqp==5.1.1
asgiref==3.4.1
astor==0.8.1
astunparse==1.6.3
attrs==21.4.0
autopep8==1.5.4
backcall==0.2.0
billiard==3.6.4.0
bleach==1.5.0
blis==0.7.9
boto3==1.23.10
botocore==1.26.10
cached-property==1.5.2
cachetools==4.2.4
catalogue==2.0.8
celery==5.1.2
certifi==2022.5.18.1
cffi==1.14.1
charset-normalizer==2.0.12
clang==5.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.5
comtypes==1.1.11
confection==0.0.3
contextvars==2.4
cryptography==3.0
cycler==0.11.0
cymem==2.0.7
dataclasses==0.8
decorator==5.1.1
Django==3.2.16
django-ckeditor==5.9.0
django-crispy-forms==1.9.2
django-filter==21.1
django-js-asset==2.0.0
django-paypal==2.0
django-rest-framework==0.1.0
django-smart-selects==1.6.0
django-taggit==3.1.0
django-widget-tweaks==1.4.11
djangorestframework==3.14.0
dominate==2.7.0
ez-setup==0.9
filelock==3.4.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Cache==0.13.1
Flask-Caching==1.9.0
flatbuffers==1.12
gast==0.2.2
gensim==3.8.2
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
gunicorn==20.0.4
h5py==2.10.0
html5lib==0.9999999
idna==3.3
imageio==2.16.0
immutables==0.19
importlib-metadata==4.8.3
importlib-resources==5.4.0
imutils==0.5.4
ipykernel==5.5.6
ipython==7.16.3
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.1.0
jupyter-client==6.1.13
jupyter-core==4.9.2
Keras==2.2.1
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
keyboard==0.13.5
kiwisolver==1.3.1
kombu==5.1.0
langcodes==3.3.0
Markdown==3.3.7
MarkupSafe==1.1.1
matplotlib==3.3.4
mediapipe==0.8.3
MouseInfo==0.1.3
murmurhash==1.0.9
mysql-connector-python==8.0.29
nest-asyncio==1.5.5
networkx==2.5.1
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.0
opencv-python==4.1.2.30
opt-einsum==3.3.0
packaging==21.3
pandas==0.25.3
parso==0.7.1
pathy==0.10.1
paypal==1.2.5
pickleshare==0.7.5
Pillow==7.2.0
preshed==3.0.8
prompt-toolkit==3.0.3
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycocotools==2.0.6
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.10.1
pydantic==1.7.4
PyGetWindow==0.0.9
Pygments==2.13.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyQt5==5.9.2
PyRect==0.2.0
PyScreeze==0.1.28
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pyttsx3==2.90
pytweening==1.0.4
pytz==2020.1
PyWavelets==1.1.1
pywin32==304
PyYAML==6.0
pyzmq==23.2.1
qimage2ndarray==1.9.0
regex==2022.10.31
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.5.4
seaborn==0.11.2
sentencepiece==0.1.97
sip==4.19.8
six==1.15.0
smart-open==6.3.0
spacy-legacy==3.0.10
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.5
standard==1.0.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==1.5.0
tensorflow-estimator==2.0.1
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
Theano==1.0.5
thinc==8.1.5
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2020.9.3
tokenizers==0.5.0
toml==0.10.1
torch==1.10.2
torchvision==0.11.3
tornado==6.1
tqdm==4.64.1
traitlets==4.3.3
transformers==2.5.0
typer==0.7.0
typing-extensions==3.7.4.3
urllib3==1.26.9
vboxapi==1.0
vine==5.0.0
visitor==0.1.3
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.0.3
whitenoise==5.1.0
wrapt==1.12.1
xgboost==1.1.1
zipp==3.6.0